.el-dialog__wrapper {
  .mydialog {
    width: 420px;
  }
}
.mydialog {
  .el-dialog {
    width: 450px;
  }
  .el-dialog__header {
    padding: 28px 30px 0px 30px;
  }
  .el-dialog__title {
    font-size: 20px;
    color: #262323;
  }
  .el-dialog__body {
    padding: 15px 30px 0px;
  }
  .desc {
    line-height: 1.5;
    font-size: 16px;
    color: #262323;
    margin-bottom: 20px;
  }
  .el-form-item {
    display: flex;
    margin-bottom: 20px;
  }
  .el-input__inner {
    height: 36px;
  }
  .el-form-item__label {
    font-size: 15px;
    width: 80px;
    padding: 0px;
    text-align: left;
    line-height: 36px;
    color: #262323;
    flex-shrink: 0;
  }
  .el-form-item__content {
    width: 100%;
  }
  .el-dialog__footer {
    padding: 20px 30px;
    @at-root .el-dialog__footer
    .cancel {
      box-sizing: border-box;
      width: 100px;
      height: 36px;
      margin-right: 20px;
      text-align: center;
      line-height: 36px;
      font-size: 16px;
      border: 1px solid #FE9B20;
      border-radius: 4px;
      color: #FE9B20;
      border-color: #FE9B20;
      cursor: pointer;
    }
    .dialog-footer {
      display: flex;
      justify-content: flex-end;
    }
    .submit {
      width: 100px;
      height: 36px;
      background-color: #7ED321;
      text-align: center;
      line-height: 36px;
      border-radius: 4px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      @at-root .el-icon-loading {
        margin-right: 15px;
      }
    }
  }
}
