@mixin boxShadow($color: rgba(0, 0, 0, 0.12)) {
  &:hover {
    box-shadow: 0 2px 4px $color;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}